In [1]:
# !pip install redis

In [48]:
import redis
import pymongo
import mysql.connector
import pandas as pd
import json
import tweepy
import sys
from dotenv import dotenv_values
from datetime import datetime, timezone

In [49]:
config = dotenv_values(".env")  # config = {"USER": "foo", "EMAIL": "foo@example.org"}

# Step 1: Data Collection

In [50]:
tweet_counter = 0
TWEET_MAX = int(config['TWEET_MAX'])
class MyStreamListener(tweepy.StreamListener):
    def __init__(self, api, write_file):
        self.api = api
        self.me = api.me()
        self.write_file = write_file

    def on_status(self, tweet):
        """
        1.extract the username
        """
        global tweet_counter
        tweet_counter += 1
        print("tweet_counter", tweet_counter)
        if tweet_counter <= TWEET_MAX:
            json.dump(tweet._json, self.write_file)
            if tweet_counter + 1 != TWEET_MAX + 1:
                self.write_file.write(',')

        else:
            self.write_file.write(']')
            self.write_file.close()
            print("Reached max allowed tweets:", TWEET_MAX)
            sys.exit(0)

    def on_error(self, status):
        print("Error detected")

def collect_data():
    auth = tweepy.OAuthHandler(config['CONSUMER_KEY'], config['CONSUMER_SECRET'])
    auth.set_access_token(config['ACCESS_TOKEN'], config['ACCESS_TOKEN_SECRET'])

    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

    write_file = open("sample.json", "w")
    write_file.write('[')
    tweets_listener = MyStreamListener(api, write_file)
    stream = tweepy.Stream(api.auth, tweets_listener)
    stream.filter(track=["#sundayvibes", "UFCVegas23", "#WrestleMania"])

# Only run once to collect tweets

In [51]:
# collect_data()

# Step 2: Data Storage

**Set up mysql and mongodb connections**

In [52]:
def setup_mysql():
    properties = {
        'user': config['USER_SQL'],
        'password': config['PASSWORD_SQL'],
        'host': 'localhost',
        'database': 'tweets_db_sql',
        'raise_on_warnings': True,
    }
    conn = mysql.connector.connect(**properties)
    conn.autocommit = True
    cursor = conn.cursor(dictionary = True)
    cursor.execute("SHOW TABLES LIKE 'user';")
    result = cursor.fetchone()
    create_table = """
        CREATE TABLE user 
          ( 
             sql_user_id      VARCHAR(255),
             sql_tweet_id     VARCHAR(255),
             user_name        VARCHAR(255), 
             screen_name      VARCHAR(255), 
             followers_count  BIGINT, 
             friends_count    BIGINT, 
             listed_count     BIGINT, 
             favourites_count BIGINT, 
             statuses_count   BIGINT, 
             PRIMARY KEY(sql_user_id, sql_tweet_id),
             INDEX(screen_name)

          );
        """
    if result:
        print("MySQL table user exists. Will be dropped and recreated...")
        cursor.execute("DROP TABLE user;")
    cursor.execute(create_table)
    return conn, cursor

In [53]:
sql_conn, sql_cursor = setup_mysql()

MySQL table user exists. Will be dropped and recreated...

In [54]:
client = None
def setup_mongodb():
    global client
    user = config['USER_MONGO']
    password = config['PASSWORD_MONGO']
    conn_string = f"mongodb+srv://{user}:{password}@cluster0.6iqrn.mongodb.net"
    client = pymongo.MongoClient(conn_string)
    dbnames = client.list_database_names()
    if "tweets_db_mongo" in dbnames:
        print("db exists. Will be deleted...")
        client.drop_database("tweets_db_mongo")
    tweets_db_mongo = client["tweets_db_mongo"]
    col_names = tweets_db_mongo.list_collection_names()
    if "tweets_col" in col_names:
        print("Tweets Collection exists. Will be deleted...")
        tweets_db_mongo.tweets_col.drop()
    tweets_col = tweets_db_mongo["tweets_col"]
    return tweets_db_mongo

In [55]:
tweets_db_mongo = setup_mongodb()

db exists. Will be deleted...

**Get twitter data from previous step**

In [56]:
def get_json_data(filename):
    with open(filename, "r") as read_file:
        json_data = json.load(read_file)
    return json_data

In [57]:
json_data = get_json_data('sample.json')

In [84]:
# json_data

In [59]:
def insert_mysql(record, sql_cursor):
    insert_query = """
    INSERT INTO user 
            ( 
                        sql_user_id,
                        sql_tweet_id,
                        user_name, 
                        screen_name, 
                        followers_count, 
                        friends_count, 
                        listed_count, 
                        favourites_count, 
                        statuses_count 
            ) 
            VALUES 
            ( 
                        '{}','{}','{}', '{}', {}, {}, {}, {}, {} 
            );""".format(*record)
    sql_cursor.execute(insert_query)

In [60]:
def insert_mongo(document_dict, tweets_db_mongo):
    tweets_db_mongo.tweets_col.insert_one(document_dict)

In [61]:
def create_date_obj(created_at_str):
    """
    created_at_str is the field located in the tweepy response
    This function converts the string to the following format: YYYY-MM-DD HH:MM:SS
    EX of proper string: 2018-06-29 17:08:00
    
    where the time is stored in MongoDB in 
    """
    tokenized_time = created_at_str.split()
    month, day, time, year = [tokenized_time[i] for i in (1, 2, 3, 5)]

    if month == 'Jan':
        month = 1
    elif month == 'Feb':
        month = 2
    elif month == 'Mar':
        month = 3
    elif month == 'Apr':
        month = 4
    elif month == 'May':
        month = 5
    elif month == 'Jun':
        month = 6
    elif month == 'Jul':
        month = 7
    elif month == 'Aug':
        month = 8
    elif month == 'Sep' or month =='Sept':
        month = 9
    elif month == 'Oct':
        month = 10
    elif month == 'Nov':
        month = 11
    elif month == 'Dec':
        month = 12

    hour, minute, second = time.split(':')


    my_date = datetime(year=int(year), month=month, day=int(day),
                                hour=int(hour), minute=int(minute), second=int(second), tzinfo=timezone.utc)
    return my_date

In [ ]:
import time
def create_date_obj_v2(created_at_str):
    time.strftime('%Y-%m-%d',time.strptime(dtime,'%a %b %d %H:%M:%S +0000 %Y'))

In [62]:
def store_data_mongo_mysql(json_data, sql_conn, sql_cursor, tweets_db_mongo):
    """
    
    """
    
    for tweet in json_data:
        #Check if retweet
        user = None
        is_retweet = False
        tweet_filtered = None
        if 'retweeted_status' in tweet:
            print('==this is a retweet')
            tweet_filtered = tweet['retweeted_status'] #Only examine fields in retweeted status, so essentially overwrite
            is_retweet = True
            
        else:
            tweet_filtered = tweet
            print('==this is a tweet')
            
            
        user = tweet_filtered['user']
        record = (user['id_str'],tweet_filtered['id_str'], user['name'], user['screen_name'], user['followers_count'], 
                  user['friends_count'], user['listed_count'], user['favourites_count'], user['statuses_count'])
        insert_mysql(record, sql_cursor)        
        
        """
        Apply a lambda to extract list of hashtags
        raw_hash_tags = [{"text": "BTSARMY", "indices": [42, 50]},
                        {"text": "BestFanArmy", "indices": [55, 67]},
                        {"text": "iHeartAwards", "indices": [80, 93]}]
                        
        cleaned_hashtags = ['BTSARMY', 'BestFanArmy', 'iHeartAwards']

        """
        
        hashtags = list(map(lambda x: x["text"], tweet_filtered['entities']['hashtags']))

        document_dict = {
            'mongo_tweet_id': tweet_filtered['id_str'],
            'mongo_user_id': user['id_str'],
            'is_retweet': is_retweet,
            'tweet_text': tweet_filtered['text'].strip().lower().split(),
            'in_reply_to_status_id': tweet_filtered['in_reply_to_status_id_str'],
            'in_reply_to_user_id': tweet_filtered['in_reply_to_user_id_str'],
            'in_reply_to_screen_name': tweet_filtered['in_reply_to_screen_name'],
            'coordinates': tweet_filtered['coordinates'],
            'place': tweet_filtered['place'],
            'quote_count': tweet_filtered['quote_count'],
            'reply_count': tweet_filtered['reply_count'],
            'retweet_count': tweet_filtered['retweet_count'],
            'favorite_count': tweet_filtered['favorite_count'],
            'hashtags': hashtags,
            'lang': tweet_filtered['lang'],
            'created_date': create_date_obj(tweet_filtered['created_at'])


        }
        insert_mongo(document_dict, tweets_db_mongo)

# Add user information my sql and tweet information mongodb

In [63]:
store_data_mongo_mysql(json_data, sql_conn, sql_cursor, tweets_db_mongo)

==this is a retweet
==this is a tweet
==this is a retweet
==this is a tweet
==this is a tweet
==this is a retweet
==this is a retweet
==this is a tweet
==this is a retweet
==this is a retweet
==this is a tweet
==this is a tweet
==this is a retweet
==this is a tweet
==this is a tweet

# Create indexes on fields MongoDB

In [64]:
# pd.DataFrame(tweets_db_mongo.tweets_col.find({}))

In [65]:
# pd.DataFrame(tweets_db_mongo.tweets_col.find({'tweet_id': '1386360436354809860'}).explain())

In [66]:
pd.DataFrame(tweets_db_mongo.tweets_col.index_information())

           _id_
key  [(_id, 1)]
v             2

In [67]:
tweets_db_mongo.tweets_col.create_index("mongo_tweet_id")
tweets_db_mongo.tweets_col.create_index("mongo_user_id")
tweets_db_mongo.tweets_col.create_index("created_date")

'created_date_1'

In [68]:
pd.DataFrame(tweets_db_mongo.tweets_col.list_indexes())

   v                    key              name
0  2             {'_id': 1}              _id_
1  2  {'mongo_tweet_id': 1}  mongo_tweet_id_1
2  2   {'mongo_user_id': 1}   mongo_user_id_1
3  2    {'created_date': 1}    created_date_1

In [69]:
# tweets_db_mongo.tweets_col.drop_index('timestamp_ms_1')

In [70]:
pd.DataFrame(tweets_db_mongo.tweets_col.index_information())

,_id_,mongo_tweet_id_1,mongo_user_id_1,created_date_1
v,2,2,2,2
key,"[(_id, 1)]","[(mongo_tweet_id, 1)]","[(mongo_user_id, 1)]","[(created_date, 1)]"

In [71]:
pd.DataFrame(tweets_db_mongo.tweets_col.find({}))

,_id,mongo_tweet_id,mongo_user_id,is_retweet,tweet_text,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,coordinates,place,quote_count,reply_count,retweet_count,favorite_count,hashtags,lang,created_date
0,60889664875cee0b831150de,1386360436354809860,789302248828350464,True,"[#sundayvibes, #remember, evil, can, not, spre...",None,None,None,None,None,0,0,2,1,"[sundayvibes, Remember]",en,2021-04-25 16:44:20
1,60889664875cee0b831150df,1386384669197750272,433658939,False,"[they, made, some, adjustments, to, the, fiend...",None,None,None,None,None,0,0,0,0,"[Wrestlemania, Night2, WeeksLater]",en,2021-04-25 18:20:37
2,60889664875cee0b831150e0,1386384623060623363,1115989350049693696,True,"[words, of, wisdom, #wordsofwisdom, #sunday, #...",None,None,None,None,None,0,0,1,1,"[wordsofwisdom, sunday, sundayvibes, sundaymot...",en,2021-04-25 18:20:26
3,60889664875cee0b831150e1,1386384682997141507,138866049,False,"[#sundayvibes, https://t.co/ptmghzir3f]",None,None,None,None,None,0,0,0,0,[sundayvibes],und,2021-04-25 18:20:40
4,60889664875cee0b831150e2,1386384693050888192,1343682028668116992,False,"[you, wouldn’t, believe, if, i, told, you, i, ...",None,None,None,None,None,0,0,0,0,[shortfilm],en,2021-04-25 18:20:43
5,60889664875cee0b831150e3,1386278476450344960,24883607,True,"[tiny, packed, her, not, so, tiny, bag, this, ...",None,None,None,None,None,1,5,10,110,"[AdoptDontShop, adogisforlife]",en,2021-04-25 11:18:39
6,60889664875cee0b831150e4,1386112265263349761,1036949648823349248,True,"[only, supreme, god, kabir, saheb, ji, has, th...",None,None,None,None,None,0,0,58,54,[],en,2021-04-25 00:18:11
7,60889664875cee0b831150e5,1386384719944855555,1383445772788588546,False,"[@bcci, check, out, my, gig, on, fiverr:, prom...",None,185142711,BCCI,None,None,0,0,0,0,[],en,2021-04-25 18:20:49
8,60889664875cee0b831150e6,1386028246278369281,1282364861867978752,True,"[रात, जैसी, जिंदगी, में, उम्मीद, का, चांद, भी,...",None,None,None,None,None,0,0,2,7,[],hi,2021-04-24 18:44:19
9,60889664875cee0b831150e7,1386287522658066434,24883607,True,"[scarlet❤️, knows, sunday, is, the, day, of, r...",None,None,None,None,None,0,1,5,42,"[adogisforlife, sundayvibes, AdoptDontShop]",en,2021-04-25 11:54:36
10,60889664875cee0b831150e8,1386384748843610116,1051782203494080512,False,"[#kwesiarthur, charmp, and, then, king, @sarko...",None,None,None,None,None,0,0,0,0,"[KwesiArthur, sundayvibes, 46gh, gyakie, Sarko...",en,2021-04-25 18:20:56
11,60889664875cee0b831150e9,1386384749720002562,604738047,False,"[🎶, future, feat, drake, -, life, ist, good, 🎶...",None,None,None,None,None,0,0,0,0,"[sundayfunday, sundayvibes, shotonpixel]",en,2021-04-25 18:20:56
12,60889664875cee0b831150ea,1386241925368500224,1057248234148651008,True,"[pls, don’t, pass, without, retweeting, my, hu...",None,None,None,None,None,0,2,99,105,[],en,2021-04-25 08:53:24
13,60889665875cee0b831150eb,1386384766736506887,619272125,False,"[np:, his, love, by, @guvnab, x, @keisha_bucha...",None,None,None,None,None,0,0,0,0,"[DeltasOfficialEveningSession, SundayVibes]",en,2021-04-25 18:21:00
14,60889665875cee0b831150ec,1386384767092883459,1354843666674708482,False,"[hold, your, breath, and, check, your, lungs, ...",None,None,None,None,None,0,0,0,0,"[OurSpringNEWday, Oscars]",en,2021-04-25 18:21:00

In [26]:
mongo_query = { 'hashtags': { '$elemMatch': { '$eq': 'sundayvibes'} } }

#     for doc in 
mongo_res = tweets_db_mongo.tweets_col.find(mongo_query)
#     user_query_label.config(text=mongo_res, bg='red')    
#     if search_choice.get() == 1:
# #         find_hashtag(tweets_db_mongo, entry.get())
#         pass

mongo_res_str = [x for x in mongo_res]
print(mongo_res_str)

[{'_id': ObjectId('60889259875cee0b831150ce'), 'mongo_tweet_id': '1386360436354809860', 'mongo_user_id': '789302248828350464', 'is_retweet': True, 'tweet_text': ['#sundayvibes', '#remember', 'evil', 'can', 'not', 'spread', 'without', 'followers.'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 2, 'favorite_count': 1, 'hashtags': ['sundayvibes', 'Remember'], 'lang': 'en', 'created_date': datetime.datetime(2021, 4, 25, 16, 44, 20)}, {'_id': ObjectId('60889259875cee0b831150d0'), 'mongo_tweet_id': '1386384623060623363', 'mongo_user_id': '1115989350049693696', 'is_retweet': True, 'tweet_text': ['words', 'of', 'wisdom', '#wordsofwisdom', '#sunday', '#sundayvibes', '#sundaymotivation', '#sundaythoughts', '#sundaymornings', '#sundaymood☀️…', 'https://t.co/zl89miyedm'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 1, 'favorite_count': 1, 'hashtags': ['wordsofwisdom', 'sunday', 'sundayvibes', 'sundaymotivation', 'sundaythoughts', 'sundaymornings', 'sundaymood'], 'lang': 'en', 'created_date': datetime.datetime(2021, 4, 25, 18, 20, 26)}, {'_id': ObjectId('60889259875cee0b831150d1'), 'mongo_tweet_id': '1386384682997141507', 'mongo_user_id': '138866049', 'is_retweet': False, 'tweet_text': ['#sundayvibes', 'https://t.co/ptmghzir3f'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0, 'favorite_count': 0, 'hashtags': ['sundayvibes'], 'lang': 'und', 'created_date': datetime.datetime(2021, 4, 25, 18, 20, 40)}, {'_id': ObjectId('6088925a875cee0b831150d7'), 'mongo_tweet_id': '1386287522658066434', 'mongo_user_id': '24883607', 'is_retweet': True, 'tweet_text': ['scarlet❤️', 'knows', 'sunday', 'is', 'the', 'day', 'of', 'rest', '💤', '...', '#adogisforlife', '#sundayvibes', '#adoptdontshop', 'https://t.co/dr1ru2i0ry'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 1, 'retweet_count': 5, 'favorite_count': 42, 'hashtags': ['adogisforlife', 'sundayvibes', 'AdoptDontShop'], 'lang': 'en', 'created_date': datetime.datetime(2021, 4, 25, 11, 54, 36)}, {'_id': ObjectId('6088925a875cee0b831150d8'), 'mongo_tweet_id': '1386384748843610116', 'mongo_user_id': '1051782203494080512', 'is_retweet': False, 'tweet_text': ['#kwesiarthur', 'charmp', 'and', 'then', 'king', '@sarkodie', 'for', 'feature', 'this', 'dude', '😱😲😱🔥🔥🔥', '#sundayvibes', '#46gh', '#gyakie', '#sarkodie…', 'https://t.co/kmz3ysww8y'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0, 'favorite_count': 0, 'hashtags': ['KwesiArthur', 'sundayvibes', '46gh', 'gyakie', 'Sarkodie'], 'lang': 'en', 'created_date': datetime.datetime(2021, 4, 25, 18, 20, 56)}, {'_id': ObjectId('6088925a875cee0b831150d9'), 'mongo_tweet_id': '1386384749720002562', 'mongo_user_id': '604738047', 'is_retweet': False, 'tweet_text': ['🎶', 'future', 'feat', 'drake', '-', 'life', 'ist', 'good', '🎶', '#sundayfunday', '#sundayvibes', '#shotonpixel', 'https://t.co/ehfks1nl8i'], 'in_reply_to_status_id': None, 'in_reply_to_user_id': None, 'in_reply_to_screen_name': None, 'coordinates': None, 'place': None, 'quote_count': 0, 'reply_count': 0, 'retweet_count': 0, 'favorite_count': 0, 'hashtags': ['sundayfunday', 'sundayvibes', 'shotonpixel'], 'lang': 'en', 'created_date': datetime.datetime(2021, 4, 25, 18, 20, 56)}]

## Close database connections so can access in Search Application

In [27]:
# sql_cursor.close()
# sql_conn.close()
# client.close()

# Create Redis cache

In [74]:
user_id = '433658939'
tweet_id = '1386384669197750272'
sql_cursor.execute("SELECT * FROM user WHERE sql_user_id = '433658939' AND sql_tweet_id = '1386384669197750272';")
sql_res = sql_cursor.fetchall()
# print(sql_res)
pd.DataFrame(sql_res)

,sql_user_id,sql_tweet_id,user_name,screen_name,followers_count,friends_count,listed_count,favourites_count,statuses_count
0,433658939,1386384669197750272,Cliffy Groove,CliffyGroove,161,1317,2,6169,5897

In [78]:
mongo_res = tweets_db_mongo.tweets_col.find({'mongo_user_id': '433658939', 'mongo_tweet_id': '1386384669197750272'})

pd.DataFrame(mongo_res)

,_id,mongo_tweet_id,mongo_user_id,is_retweet,tweet_text,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,coordinates,place,quote_count,reply_count,retweet_count,favorite_count,hashtags,lang,created_date
0,60889664875cee0b831150df,1386384669197750272,433658939,False,"[they, made, some, adjustments, to, the, fiend...",None,None,None,None,None,0,0,0,0,"[Wrestlemania, Night2, WeeksLater]",en,2021-04-25 18:20:37

In [28]:
redis_client = redis.Redis(host='localhost', port='6379')

In [81]:
from datetime import timedelta
redis_client.setex(
    'runner',
    timedelta(minutes=1),
    value = str(sql_res)
)

True

In [83]:
redis_client.setex?

In [82]:
redis_client.get('runner')

b"[{'sql_user_id': '433658939', 'sql_tweet_id': '1386384669197750272', 'user_name': 'Cliffy Groove', 'screen_name': 'CliffyGroove', 'followers_count': 161, 'friends_count': 1317, 'listed_count': 2, 'favourites_count': 6169, 'statuses_count': 5897}]"

In [31]:
r = redis.Redis(db=1)

In [32]:
## # From redis/client.py
# class Redis(object):
#     def __init__(self, host='localhost', port=6379,
#                  db=0, password=None, socket_timeout=None,
#                  # ...

# Search Application

In [33]:
tweets_db_mongo.tweets_col.find({}).limit(1)[0].keys()

dict_keys(['_id', 'mongo_tweet_id', 'mongo_user_id', 'is_retweet', 'tweet_text', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'coordinates', 'place', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'hashtags', 'lang', 'created_date'])

In [34]:
def find_hashtag(tweets_db_mongo, hashtag):
    res = tweets_db_mongo.tweets_col.find( {"tweet_id": "1386384669197750272"} )
    return pd.DataFrame(res)

In [35]:
pd.read_sql_query("SELECT * FROM user;", sql_conn)

,sql_user_id,sql_tweet_id,user_name,screen_name,followers_count,friends_count,listed_count,favourites_count,statuses_count
0,1036949648823349248,1386112265263349761,Ashok Kumar,DasAshokDas1,14327,110,2,94812,103192
1,1051782203494080512,1386384748843610116,Sista Akos,SistaAkos,77,282,0,1441,845
2,1057248234148651008,1386241925368500224,reality chaser⚡️⚡️⚡️,alamin_ys,4913,4432,1,43796,12196
3,1115989350049693696,1386384623060623363,Pendulumedu,pendulumedu,76,38,0,24,4086
4,1282364861867978752,1386028246278369281,Live_ur_lyf_in_ur_own_way,Celinawrites,1055,760,0,81828,6077
5,1343682028668116992,1386384693050888192,DOROTHEA,DOROTHEA2020,4,12,0,2,1721
6,1354843666674708482,1386384767092883459,joy,joy75252635,0,2,0,1,53
7,1383445772788588546,1386384719944855555,olayemi oluwafemi,olayemioluwaf20,3,2,0,0,270
8,138866049,1386384682997141507,‘,invic0n,819,1242,18,1868,2856
9,24883607,1386278476450344960,DogsTrust WestCalder,DT_WestCalder,8831,8043,44,11451,6445
10,24883607,1386287522658066434,DogsTrust WestCalder,DT_WestCalder,8831,8043,44,11451,6445
11,433658939,1386384669197750272,Cliffy Groove,CliffyGroove,161,1317,2,6169,5897
12,604738047,1386384749720002562,💜 Lisa,theonlinelisa,2053,764,59,42653,12351
13,619272125,1386384766736506887,CROWN 89.9FM WARRI,crown899fm,9452,1459,37,2329,119868
14,789302248828350464,1386360436354809860,➰ Realer 🌐,Im_StillReal,1720,2057,17,25,3231

In [40]:
pd.DataFrame(tweets_db_mongo.tweets_col.find({}).limit(5))

,_id,mongo_tweet_id,mongo_user_id,is_retweet,tweet_text,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,coordinates,place,quote_count,reply_count,retweet_count,favorite_count,hashtags,lang,created_date
0,60889259875cee0b831150ce,1386360436354809860,789302248828350464,True,"[#sundayvibes, #remember, evil, can, not, spre...",None,None,None,None,None,0,0,2,1,"[sundayvibes, Remember]",en,2021-04-25 16:44:20
1,60889259875cee0b831150cf,1386384669197750272,433658939,False,"[they, made, some, adjustments, to, the, fiend...",None,None,None,None,None,0,0,0,0,"[Wrestlemania, Night2, WeeksLater]",en,2021-04-25 18:20:37
2,60889259875cee0b831150d0,1386384623060623363,1115989350049693696,True,"[words, of, wisdom, #wordsofwisdom, #sunday, #...",None,None,None,None,None,0,0,1,1,"[wordsofwisdom, sunday, sundayvibes, sundaymot...",en,2021-04-25 18:20:26
3,60889259875cee0b831150d1,1386384682997141507,138866049,False,"[#sundayvibes, https://t.co/ptmghzir3f]",None,None,None,None,None,0,0,0,0,[sundayvibes],und,2021-04-25 18:20:40
4,60889259875cee0b831150d2,1386384693050888192,1343682028668116992,False,"[you, wouldn’t, believe, if, i, told, you, i, ...",None,None,None,None,None,0,0,0,0,[shortfilm],en,2021-04-25 18:20:43

In [36]:
# %run -i 'gui.py'

user_id = '433658939'
tweet_id = '1386384669197750272'